body {
    font-family: Tahoma;
    background-color: bisque;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    color: rgb(150, 75, 200);
    font: 14px;
    text-align: center;
}

label {
    display: block;
}